body {
    font-family: 'Allenoire', 'Arial', sans-serif;
    margin: 0;
    padding: 20px 0 0 0;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.8) url('your-image-url.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000; /* Set text color to black */
}

h1, p {
    text-align: center;
}

.first-name {
    font-weight: bold;
    color: #000;
}

.last-name {
    font-weight: 600;
    color: #808080;
}

.subtitle {
    font-family: 'Times New Roman', serif;
    color: #333;
    font-size: 1.2em;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.menu-container {
    background: transparent;
}

.vertical-menu a {
    text-decoration: none;
    color: #808080;
    font-size: 1.8em;
}

.vertical-menu a.active {
    font-weight: bold;
    color: #000;
}

.text-content {
    flex-grow: 1;
    padding: 0 20px; /* Adjust the spacing as needed */
}

.centered-paragraph p,
.about-me p,
.internship-info p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.header-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    text-align: right;
    z-index: 1;
    background: transparent;
}

.profile-container {
    position: fixed;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}

.location-info {
    font-size: 1.2em;
}
