body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20% 0 0 0; /* Add top padding to push content down */
    overflow-x: hidden; /* Prevent horizontal scrolling on smaller screens */
    background-image: url("https://t3.ftcdn.net/jpg/02/06/19/40/360_F_206194051_eGGpnQKXRH38IbrRnk3bfefMlQkoc947.jpg");
    background-size: cover;
    background-position: center;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 2; /* Ensure the menu appears above other elements */
}

.vertical-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-menu li {
    margin-bottom: 10px;
}

.vertical-menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

.header-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    text-align: right;
    z-index: 1; /* Ensure the header appears above other elements */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

.profile-image {
    position: relative;
    margin-bottom: 10px;
}

.profile-image img {
    width: 150px; /* Adjust the size of the image as needed */
    border-radius: 50%;
}

.wobbly-animation {
    /* Add your wobbly animation styles here */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #ff3399, #66ccff);
    border-radius: 50%;
    opacity: 0.5;
    animation: wobble 2s infinite ease-in-out;
}

@keyframes wobble {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25%, 75% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
}

.location-info {
    font-size: 0.9em;
    text-align: center; /* Center the text horizontally */
}
